//Padding
@mixin padding($xy) {
  @include paddingX($xy);
  @include paddingY($xy);
}

@mixin paddingY($tb) {
  padding-top: $tb;
  padding-bottom: $tb;
}

@mixin paddingX($lr) {
  padding-left: $lr;
  padding-right: $lr;
}

//Margin
@mixin margin($xy) {
  @include marginX($xy);
  @include marginY($xy);
}

@mixin marginY($tb) {
  margin-top: $tb;
  margin-bottom: $tb;
}

@mixin marginX($lr) {
  margin-left: $lr;
  margin-right: $lr;
}

// Center
@mixin autoMargin {
  margin-left: auto;
  margin-right: auto;
}

@mixin basicWidth($minWidth: 448px, $maxWidth: 1024px) {
  min-width: $minWidth;
  max-width: $maxWidth;
  @include autoMargin;
}

// Flex
@mixin flexbox($fd: row, $fw: nowrap, $jc: flex-start, $ac: flex-start) {
  display: flex;
  flex-flow: $fd $fw;
  justify-content: $jc;
  align-content: $ac;
  @content;
}

//Grid
@mixin gridbox($tc: 12, $cw: 1fr, $rg: 0, $cg: 0) {
  display: grid;
  grid-template-columns: repeat($tc, $cw);
  grid-template-rows: auto;
  grid-row-gap: rem($rg);
  grid-column-gap: rem($cg);
}

//Position
@mixin pos {
  position: relative;
}

@mixin posLT($l: 0, $t: 0) {
  position: absolute;
  left: $l;
  top: $t;
}

@mixin posLB($l: 0, $b: 0) {
  position: absolute;
  left: $l;
  bottom: $b;
}

@mixin posRT($r: 0, $t: 0) {
  position: absolute;
  right: $r;
  top: $t;
}

@mixin posRB($r: 0, $b: 0) {
  position: absolute;
  right: $r;
  bottom: $b;
}

//Translate
@mixin trans($tx: 0, $ty: 0) {
  transform: translate($tx, $ty);
}

@mixin transX($tx: 0) {
  transform: translateX($tx);
}

@mixin transY($ty: 0) {
  transform: translateY($ty);
}

// Transition
@mixin transition($tp: transform, $td: 1) {
  transition-property: $tp;
  transition-duration: $td;
}

@mixin ImageScale {
  @include transition(transform, 0.5s);
  transform: scale(105%);
}

@mixin slideList {
  transition-property: height, opacity, padding-top;
  transition-duration: 0.5s, 0.2s, 0.5s;
  padding-top: 15px;
}

// Screen Read Only (Accessibility Hidden)
@mixin sr-only() {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}
